{% extends "base.html" %}

{% block content %}
<div id="exponats" class="tab-content">
    <h1>Our Exhibits:</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Title</th>
                <th>Artist</th>
                <th>Height(cm)</th>
                <th>Width(cm)</th>
                <th>Weight(kg)</th>
            </tr>
        </thead>
        <tbody>
            {% for exponat in exponats %}
            <tr>
                <td>{{ exponat.tytul }}</td>
                <td>{{ exponat.artysta_nazwisko }}</td>
                <td>{{ exponat.wysokosc }}</td>
                <td>{{ exponat.szerokosc }}</td>
                <td>{{ exponat.waga }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}