{% extends "base.html" %}

{% block content %}
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    
    <!-- Link to external CSS -->
    <link rel="stylesheet" href="{{ url_for('admin.static', filename='styles.css') }}">
    </head>
    <h2>Admin Page</h2>

    <!-- Tab navigation -->
    <div class="tabs">
        <button class="tab-button" onclick="openTab(event, 'artists')">Artists</button>
        <button class="tab-button" onclick="openTab(event, 'exponats')">Exhibits</button>
        <button class="tab-button" onclick="openTab(event, 'exhibition_rooms')">Exhibition Rooms</button>
        <button class="tab-button" onclick="openTab(event, 'institutions')">Partner Institutions</button>
        <button class="tab-button" onclick="openTab(event, 'history')">History</button>
    </div>

    <div id="success-message", class="success-message"></div>

    <!-- Artists tab -->
    <div id="artists" class="tab-content">
        <h1>Our Artists:</h1>
        <table border="1">
            <thead>
                <tr>
                    <th>Artist ID</th> 
                    <th>Name</th>
                    <th>Birth Date</th>
                    <th>Death Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for artist in artists %}
                <tr>
                    <td>{{ artist.id }}</td>
                    <td>{{ artist.imie_nazwisko }}</td>
                    <td>{{ artist.data_urodzenia if artist.data_urodzenia else "Unknown" }}</td>
                    <td>{{ artist.data_smierci if artist.data_smierci else "Present" }}</td>
                    <td>
                        <button onclick="editArtist({{ artist|safe }})">Edit</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button onclick="displayAddModal('addArtistModal')">Add Artist</button>
    </div>


    <div id="exponats" class="tab-content" style="display: none;">
        <h1>Our Exhibits:</h1>
        <table border="1">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Artist ID</th>
                    <th>Height(cm)</th>
                    <th>Width(cm)</th>
                    <th>Weight(kg)</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for exponat in exponats %}
                <tr>
                    <td>{{ exponat.tytul }}</td>
                    <td>{{ exponat.artysta_id }}</td>
                    <td>{{ exponat.wysokosc }}</td>
                    <td>{{ exponat.szerokosc }}</td>
                    <td>{{ exponat.waga }}</td>
                    <td>
                        <button onclick="editExponat({{ exponat|safe }})">Edit</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button onclick="displayAddModal('addExponatModal')">Add Exhibit</button>
    </div>


    <div id="exhibition_rooms" class="tab-content" style="display: none;">
        <h1>Our Exhibition Rooms:</h1>
        <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for room in exhibition_rooms %}
            <tr>
                <td>{{ room.nazwa_galerii }}</td>
                <td>
                    <button onclick="editRoom({{ room|safe }})">Edit</button>
                    <button onclick="openModal({{ room.roomid }}, '{{ room.nazwa_galerii }}')">Assign Exponat</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
            <button onclick="displayAddModal('addRoomModal')">Add Gallery</button>
        </ul>
    </div>


    <div id="institutions" class="tab-content" style="display: none;">
        <table border="1">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>City</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for institution in institutions %}
                <tr>
                    <td>{{ institution.nazwa }}</td>
                    <td>{{ institution.miasto }}</td>
                    <td>
                        <button onclick="editInstitution({{ institution|safe }})">Edit</button>
                        <button onclick="openRentModal({{ institution.instid }}, '{{ institution.nazwa }}')">Rent an Exhibit</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button onclick="displayAddModal('addInstitutionModal')">Add Institution</button>
    </div>


    <div id="history" class="tab-content" style="display: none;">
        <h1>History:</h1>
        <table border="1">
            <thead>
                <tr>
                    <th>Record ID</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for record in history %}
                <tr>
                    <td>{{ record.record_id }}</td>
                    <td>{{ record.action }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- edit artist modal -->
    <div id="editModal" class="modal" style="display: none;">
        <div class="modal-content">
            <span class="close" onclick="closeModal('editModal')">&times;</span>
            <h2>Edit Artist</h2>
            <form id="editForm" onsubmit="saveEntity(event, 'editForm', '/admin/save_new_artist', 'editModal', 'PUT')">
                <input type="hidden" id="id" name="id">
                <label for="imie_nazwisko">Name:</label>
                <input type="text" id="imie_nazwisko" name="imie_nazwisko" required>
                <label for="data_urodzenia">Birth Date:</label>
                <input type="date" id="data_urodzenia" name="data_urodzenia" required>
                <label for="data_smierci">Death Date:</label>
                <input type="date" id="data_smierci" name="data_smierci">
                <button type="submit">Save</button>
            </form>
        </div>
    </div>


    <div id="addArtistModal" class="modal" style="display: none;">
        <div class="modal-content">
            <span class="close" onclick="closeModal('addArtistModal')">&times;</span>
            <h2>Add Artist</h2>
            <form id="addArtistForm" onsubmit="saveEntity(event,'addArtistForm', '/admin/save_new_artist', 'addArtistModal', 'POST')">
                <input type="hidden" id="id" name="id">
                <label for="imie_nazwisko">Name:</label>
                <input type="text" id="imie_nazwisko" name="imie_nazwisko" required>
                <label for="data_urodzenia">Birth Date:</label>
                <input type="date" id="data_urodzenia" name="data_urodzenia">
                <label for="data_smierci">Death Date:</label>
                <input type="date" id="data_smierci" name="data_smierci">
                <button type="submit">Save</button>
            </form>
        </div>
    </div>
    
    <div id="editRoomModal" class="modal" style="display: none;">
        <div class="modal-content">
            <span class="close" onclick="closeModal('editRoomModal')">&times;</span>
            <h2>Edit Room</h2>
            <form id="editRoomForm" onsubmit="saveEntity(event, 'editRoomForm', '/admin/save_new_gallery', 'editRoomModal', 'PUT')">
                <input type="hidden" id="roomid" name="roomid">
                <label for="nazwa_galerii">Room Name:</label>
                <input type="text" id="nazwa_galerii" name="nazwa_galerii" required>
                <button type="submit">Save</button>
            </form>
        </div>
    </div>

    <div id="addRoomModal" class="modal" style="display: none;">
        <div class="modal-content">
            <span class="close" onclick="closeModal('addRoomModal')">&times;</span>
            <h2>Edit Room</h2>
            <form id="addRoomForm" onsubmit="saveEntity(event, 'addRoomForm', '/admin/save_new_gallery', 'addRoomModal', 'POST')">
                <input type="hidden" id="roomid" name="roomid">
                <label for="nazwa_galerii">Room Name:</label>
                <input type="text" id="nazwa_galerii" name="nazwa_galerii" required>
                <button type="submit">Save</button>
            </form>
        </div>
    </div>

    <div id="assignModal" class="assignModal">
        <h2 id="modal-title"></h2>
        <label for="exponat-select">Select an Exponat:</label>
        <select id="exponat-select"></select>
        <button onclick="assignExponat()">Assign</button>
        <button onclick="closeModal('assignModal')">Close</button>
    </div>


    <div id="rentModal" class="assignModal">
        <h2 id="rent-modal-title"></h2>
        <label for="rent-exponat-select">Select an Exponat:</label>
        <select id="rent-exponat-select"></select>

        <label for="date_start">Start:</label>
        <input type="date" id="date_start" name="date_start" required>
        <label for="date_end">End:</label>
        <input type="date" id="date_end" name="date_end" required>

        <button onclick="rentExponat()">Rent</button>
        <button onclick="closeModal('rentModal')">Close</button>
    </div>


    <div id="editInstitutionModal" class="modal" style="display: none;">
        <div class="modal-content">
            <span class="close" onclick="closeModal('editInstitutionModal')">&times;</span>
            <h2>Edit Institution</h2>
            <form id="editInstitutionForm" onsubmit="saveEntity(event,'editInstitutionForm', '/admin/save_new_institution', 'editInstitutionModal', 'PUT')">
                <input type="hidden" id="instid" name="instid">
                <label for="nazwa">Name:</label>
                <input type="text" id="nazwa" name="nazwa" required>
                <label for="miasto">City:</label>
                <input type="text" id="miasto" name="miasto" required>
                <button type="submit">Save</button>
            </form>
        </div>
    </div>


    <div id="addInstitutionModal" class="modal" style="display: none;">
        <div class="modal-content">
            <span class="close" onclick="closeModal('addInstitutionModal')">&times;</span>
            <h2>Add Institution</h2>
            <form id="addInstitutionForm" onsubmit="saveEntity(event,'addInstitutionForm', '/admin/save_new_institution', 'addInstitutionModal', 'POST')">
                <input type="hidden" id="instid" name="instid">
                <label for="nazwa">Name:</label>
                <input type="text" id="nazwa" name="nazwa" required>
                <label for="miasto">City:</label>
                <input type="text" id="miasto" name="miasto" required>
                <button type="submit">Save</button>
            </form>
        </div>
    </div>

    <div id="editExponatModal" class="modal" style="display: none;">
        <div class="modal-content">
            <span class="close" onclick="closeModal('editExponatModal')">&times;</span>
            <h2>Edit Exponat</h2>
            <form id="editExponatForm" onsubmit="saveEntity(event, 'editExponatForm', '/admin/save_new_exponat', 'editExponatModal', 'PUT')">
                <input type="hidden" id="expid" name="expid">
                <label for="tytul">Title:</label>
                <input type="text" id="tytul" name="tytul" required>
                <label for="artysta_id">Artist ID:</label>
                <input type="number" id="artysta_id" name="artysta_id" required>
                <label for="wysokosc">Height (cm):</label>
                <input type="number" id="wysokosc" name="wysokosc" step="0.01" min="0.01" required>
                <label for="szerokosc">Width (cm):</label>
                <input type="number" id="szerokosc" name="szerokosc" step="0.01" min="0.01" required>
                <label for="waga">Weight (kg):</label>
                <input type="number" id="waga" name="waga" step="0.01" min="0.01" required>
                <button type="submit">Save</button>
            </form>
        </div>
    </div>

    <div id="addExponatModal" class="modal" style="display: none;">
        <div class="modal-content">
            <span class="close" onclick="closeModal('addExponatModal')">&times;</span>
            <h2>Add Exponat</h2>
            <form id="addExponatForm" onsubmit="saveEntity(event, 'addExponatForm', '/admin/save_new_exponat', 'addExponatModal', 'POST')">
                <input type="hidden" id="expId" name="expId">
                <label for="tytul">Title:</label>
                <input type="text" id="tytul" name="tytul" required>
                <label for="artysta_id">Artist ID:</label>
                <input type="number" id="artysta_id" name="artysta_id" required>
                <label for="wysokosc">Height (cm):</label>
                <input type="number" id="wysokosc" name="wysokosc" step="0.01" min="0.01" required>
                <label for="szerokosc">Width (cm):</label>
                <input type="number" id="szerokosc" name="szerokosc" step="0.01" min="0.01" required>
                <label for="waga">Weight (kg):</label>
                <input type="number" id="waga" name="waga" step="0.01" min="0.01" required>
                <button type="submit">Save</button>
            </form>
        </div>
    </div>
    <script src="{{ url_for('admin.static', filename='scripts.js') }}"></script>
{% endblock %}
